<!-- C:\All-Program\Ris-project\note>npx tailwindcss -i ./static/src/input.css -o ./static/src/output.css --watc -->
{% extends "_base.html" %} 

{% block content %} 
<div class="math bg-green-300 p-4 md:p-8 rounded-md my-6">
	<h1 class="text-3xl text-red-500"> 
		Mathematics- III
	</h1>
	<hr>
</div>

<div class="math bg-green-300 p-4 md:p-8 rounded-md my-6">
	<h1 class="text-3xl text-red-500"> 
		Network Analysis and Synthesis
	</h1>
	<hr>
</div>

<div class="math bg-green-300 p-4 md:p-8 rounded-md my-6">
	<h1 class="text-3xl text-red-500"> 
		Data Structure Primer Using 'C'
	</h1>
	<hr>
</div>

<div class="math bg-green-300 p-4 md:p-8 rounded-md my-6">
	<h1 class="text-3xl text-red-500"> 
		Numerical and statistical Techniques in Computer Science
	</h1>
	<hr>
</div>

<div class="math bg-green-300 p-4 md:p-8 rounded-md my-6">
	<h1 class="text-3xl text-red-500"> 
		Digital Circuit and logic Design
	</h1>
	<hr>
</div>

<div class="math bg-green-300 p-4 md:p-8 rounded-md my-6">
	<h1 class="text-3xl text-red-500"> 
		Environment and Ecology
	</h1>
	<hr>
</div>
{% endblock content %}
